<!--================ Start footer Area  =================-->  
<div class="myfooter">
	<div class="footer">
	  <div class="bubbles">
	    <div class="bubble" style="--size:3.983852672561963rem; --distance:7.648355870882129rem; --position:33.2655195876999%; --time:2.8008842985814426s; --delay:-2.315458199425509s;"></div>
	    <div class="bubble" style="--size:2.044354103891994rem; --distance:9.254827490028195rem; --position:87.64663364370271%; --time:2.156819600381141s; --delay:-2.909606151174053s;"></div>
	    <div class="bubble" style="--size:3.438707941071046rem; --distance:6.881859809264003rem; --position:98.78025226706029%; --time:3.281643016243877s; --delay:-2.929673943163484s;"></div>
	    <div class="bubble" style="--size:5.13466935311896rem; --distance:8.371269303631298rem; --position:34.92308039596573%; --time:3.451725113183204s; --delay:-3.00327191251595s;"></div>
	    <div class="bubble" style="--size:4.266607598700475rem; --distance:9.209724836219003rem; --position:13.973800929338154%; --time:3.2471231211887503s; --delay:-3.341328643471425s;"></div>
	    <div class="bubble" style="--size:3.436448782681003rem; --distance:9.097045999777684rem; --position:18.162496363363758%; --time:3.574627930636249s; --delay:-2.7035104393962173s;"></div>
	    <div class="bubble" style="--size:3.3718742212316037rem; --distance:6.923678977166683rem; --position:76.30667331157677%; --time:2.3987046975381303s; --delay:-2.2128483253148223s;"></div>
	    <div class="bubble" style="--size:5.354712483515517rem; --distance:7.170721783073394rem; --position:82.81858020780734%; --time:2.5711152102726835s; --delay:-2.067224396277972s;"></div>
	    <div class="bubble" style="--size:4.618011426281485rem; --distance:9.261764287652838rem; --position:94.45671820340624%; --time:3.222170989750302s; --delay:-2.038164734739228s;"></div>
	    <div class="bubble" style="--size:2.118783770193853rem; --distance:6.926848993009458rem; --position:53.000334501717205%; --time:3.5552872370210054s; --delay:-3.4731876826604764s;"></div>
	    <div class="bubble" style="--size:3.7924838238031082rem; --distance:7.698677365887352rem; --position:102.50671482947598%; --time:3.8045357321349096s; --delay:-2.485418590643138s;"></div>
	    <div class="bubble" style="--size:3.230436605213126rem; --distance:8.321152158203034rem; --position:72.77811143113006%; --time:2.491991072393059s; --delay:-2.411193787450918s;"></div>
	    <div class="bubble" style="--size:2.79046021552165rem; --distance:7.3014942807837055rem; --position:96.28244393788869%; --time:2.1524285483138876s; --delay:-3.9921116892110478s;"></div>
	    <div class="bubble" style="--size:3.3721145292478427rem; --distance:9.21095628417354rem; --position:24.41986525838862%; --time:2.5455844808887584s; --delay:-3.2217213192606313s;"></div>
	    <div class="bubble" style="--size:3.518929825183559rem; --distance:7.142846920435703rem; --position:73.82264476859571%; --time:3.4719038626148206s; --delay:-2.340270788044028s;"></div>
	    <div class="bubble" style="--size:3.797210642948441rem; --distance:6.336768770628262rem; --position:-4.536711630694635%; --time:3.31751101858986s; --delay:-2.5762865249549023s;"></div>
	    <div class="bubble" style="--size:2.601363552932513rem; --distance:9.734475852448117rem; --position:49.005268537577756%; --time:2.658977455430128s; --delay:-2.9526508599752597s;"></div>
	    <div class="bubble" style="--size:3.3686687838161067rem; --distance:8.815242101007478rem; --position:44.64607858426019%; --time:2.710470107697274s; --delay:-2.726509203685969s;"></div>
	    <div class="bubble" style="--size:2.1271243359379595rem; --distance:9.40942218701359rem; --position:-2.8296265089117023%; --time:3.7838359432434365s; --delay:-2.5548302292497738s;"></div>
	    <div class="bubble" style="--size:5.670669216171463rem; --distance:9.617952485367297rem; --position:81.30666791948521%; --time:3.9012601040706616s; --delay:-3.1599425524452522s;"></div>
	    <div class="bubble" style="--size:5.8997667407490555rem; --distance:7.935547869747396rem; --position:-1.567620351418284%; --time:2.176396230733871s; --delay:-2.6495700500009023s;"></div>
	    <div class="bubble" style="--size:3.775234796429997rem; --distance:9.225208723580591rem; --position:90.30772950737003%; --time:3.8047532929536354s; --delay:-3.989623729515585s;"></div>
	    <div class="bubble" style="--size:4.6548736994201905rem; --distance:8.813044971395602rem; --position:8.869580804193475%; --time:3.318877753450208s; --delay:-3.9648831962505895s;"></div>
	    <div class="bubble" style="--size:5.647712100570131rem; --distance:8.031900199130005rem; --position:45.435529105803404%; --time:2.464426707564075s; --delay:-2.7478032276663455s;"></div>
	    <div class="bubble" style="--size:2.560405386785rem; --distance:9.320002869000568rem; --position:41.78704699503081%; --time:2.0063218403057768s; --delay:-2.0853978160434763s;"></div>
	    <div class="bubble" style="--size:3.409196049100218rem; --distance:9.48541858756758rem; --position:-3.2566433537281347%; --time:2.872207571503665s; --delay:-3.0742361267710177s;"></div>
	    <div class="bubble" style="--size:5.383894083476829rem; --distance:6.9829539878982505rem; --position:12.250374584421472%; --time:2.7617658295649212s; --delay:-2.256927349859855s;"></div>
	    <div class="bubble" style="--size:2.243609575468102rem; --distance:7.7943755940262145rem; --position:4.302540430295856%; --time:2.8268456595520175s; --delay:-2.6480577425242684s;"></div>
	    <div class="bubble" style="--size:3.1215231360588183rem; --distance:8.58845648284322rem; --position:8.196027117990791%; --time:2.4847134399169035s; --delay:-3.7466142170013845s;"></div>
	    <div class="bubble" style="--size:3.220996230365225rem; --distance:7.936727006503978rem; --position:101.89324714149156%; --time:3.8904286500166028s; --delay:-2.3574478970704655s;"></div>
	    <div class="bubble" style="--size:2.3890751691051033rem; --distance:9.473610362809112rem; --position:5.016090892689855%; --time:3.6784732638355533s; --delay:-2.885773346723738s;"></div>
	    <div class="bubble" style="--size:2.2205217660259615rem; --distance:9.208201740279517rem; --position:20.367835364736596%; --time:3.0208691255582116s; --delay:-3.4899501866477163s;"></div>
	    <div class="bubble" style="--size:5.39045090391565rem; --distance:8.571312313635852rem; --position:8.464193658153093%; --time:2.7263831861768524s; --delay:-2.4668940235156955s;"></div>
	    <div class="bubble" style="--size:5.701308987767269rem; --distance:7.450865529444893rem; --position:3.5358250647674154%; --time:3.190913639411441s; --delay:-3.865807389258945s;"></div>
	    <div class="bubble" style="--size:5.731819436732826rem; --distance:9.973400589608623rem; --position:0.3461280376982856%; --time:3.7192178202757944s; --delay:-2.166760628251579s;"></div>
	    <div class="bubble" style="--size:3.0996253773854043rem; --distance:6.40311493530048rem; --position:89.58951789476876%; --time:2.345845916930024s; --delay:-2.443685480090799s;"></div>
	    <div class="bubble" style="--size:3.7660543425663704rem; --distance:9.295182993939436rem; --position:95.15262272474709%; --time:3.9120478176509716s; --delay:-3.450365219314231s;"></div>
	    <div class="bubble" style="--size:3.2597289635389837rem; --distance:7.173355881377595rem; --position:78.8010326656584%; --time:2.7847969349645476s; --delay:-3.9179049302425057s;"></div>
	    <div class="bubble" style="--size:3.70516442537292rem; --distance:6.861124365127699rem; --position:69.03256725100447%; --time:2.9844677199896092s; --delay:-2.3282937931859196s;"></div>
	    <div class="bubble" style="--size:3.531828390070416rem; --distance:8.253170238038557rem; --position:74.22612809545251%; --time:3.4890562508225753s; --delay:-3.008155472529891s;"></div>
	    <div class="bubble" style="--size:2.9676075028187308rem; --distance:7.945569873570006rem; --position:79.23008648583699%; --time:3.91885550052263s; --delay:-2.5552698285637736s;"></div>
	    <div class="bubble" style="--size:4.551700148275273rem; --distance:6.676968960201444rem; --position:0.8879503540441336%; --time:2.2061310377977406s; --delay:-2.5537350933943546s;"></div>
	    <div class="bubble" style="--size:2.4732800773953167rem; --distance:7.305249711759881rem; --position:103.84376834154814%; --time:2.7078342329334326s; --delay:-2.3955284556925895s;"></div>
	    <div class="bubble" style="--size:3.7363529337653416rem; --distance:8.246976290470183rem; --position:82.26808057914256%; --time:3.9187652331782314s; --delay:-2.1649561334632224s;"></div>
	    <div class="bubble" style="--size:5.396733391820504rem; --distance:9.321042107322175rem; --position:63.518392204366435%; --time:2.984536459642536s; --delay:-2.325228639711646s;"></div>
	    <div class="bubble" style="--size:2.2625986475767563rem; --distance:8.801404256645263rem; --position:27.528881999039065%; --time:3.523330027245476s; --delay:-2.154903079019249s;"></div>
	    <div class="bubble" style="--size:5.0537910803586765rem; --distance:8.37199081373069rem; --position:7.9198052990489565%; --time:2.984290350354699s; --delay:-3.143087373801868s;"></div>
	    <div class="bubble" style="--size:5.75611168106672rem; --distance:6.77758804697613rem; --position:63.896739732572286%; --time:3.5253442103762342s; --delay:-2.4284172856688326s;"></div>
	    <div class="bubble" style="--size:5.06392106785758rem; --distance:7.800091031865139rem; --position:46.52939949619135%; --time:3.0058523457526287s; --delay:-2.9693552360410544s;"></div>
	    <div class="bubble" style="--size:4.489920802346733rem; --distance:6.086496782957101rem; --position:95.8123276537992%; --time:3.515200181767522s; --delay:-3.415568499234695s;"></div>
	    <div class="bubble" style="--size:4.532273692687866rem; --distance:8.762148216182094rem; --position:57.092158318138424%; --time:3.9567410593736834s; --delay:-2.7447503112664946s;"></div>
	    <div class="bubble" style="--size:5.487162340494241rem; --distance:8.249537496874737rem; --position:2.6517662972517098%; --time:3.5374079598082515s; --delay:-3.654913596676443s;"></div>
	    <div class="bubble" style="--size:4.767856347701728rem; --distance:7.388445485708892rem; --position:7.2135204699170075%; --time:2.545645953531757s; --delay:-3.8371388191457676s;"></div>
	    <div class="bubble" style="--size:2.1185482319486777rem; --distance:6.516606713888619rem; --position:64.9780150504587%; --time:2.667428931824289s; --delay:-3.5680103888772274s;"></div>
	    <div class="bubble" style="--size:3.6636810146969445rem; --distance:7.963308750503737rem; --position:69.4296658411627%; --time:2.368833064700273s; --delay:-2.384241986250954s;"></div>
	    <div class="bubble" style="--size:3.571832885062446rem; --distance:8.404963874003236rem; --position:29.648546539058117%; --time:2.4077694392534785s; --delay:-3.2689506476744357s;"></div>
	    <div class="bubble" style="--size:5.558241586952181rem; --distance:9.892285214371917rem; --position:40.83273150252685%; --time:2.5900330172991044s; --delay:-3.235613285582057s;"></div>
	    <div class="bubble" style="--size:4.135371858306044rem; --distance:7.682203525970588rem; --position:71.09599772394277%; --time:2.6001097172326695s; --delay:-2.7206043321212436s;"></div>
	    <div class="bubble" style="--size:5.759864271248824rem; --distance:9.170360756064618rem; --position:43.26784394143628%; --time:2.944893064210967s; --delay:-2.129855655338409s;"></div>
	    <div class="bubble" style="--size:3.472343069208134rem; --distance:7.296908433821304rem; --position:-3.1101770367797177%; --time:3.7921220529862434s; --delay:-3.8196740242812246s;"></div>
	    <div class="bubble" style="--size:3.2545511085028007rem; --distance:6.622679530585737rem; --position:17.16057768122728%; --time:2.599258267318208s; --delay:-3.0836603544448495s;"></div>
	    <div class="bubble" style="--size:3.061668645496793rem; --distance:6.26721946963141rem; --position:37.22015630136896%; --time:3.6166557648346767s; --delay:-3.02158860716621s;"></div>
	    <div class="bubble" style="--size:3.033564593702608rem; --distance:7.522846046025091rem; --position:22.69781501335229%; --time:2.4142830558293897s; --delay:-2.48286397078719s;"></div>
	    <div class="bubble" style="--size:2.1095352467082984rem; --distance:9.583674370472474rem; --position:98.53959536891908%; --time:3.9612672167392966s; --delay:-3.643968069519382s;"></div>
	    <div class="bubble" style="--size:3.4698312123574624rem; --distance:6.256375603523744rem; --position:54.586800882445424%; --time:2.8013052070839817s; --delay:-2.0708501632215652s;"></div>
	    <div class="bubble" style="--size:4.147732211196496rem; --distance:8.71840437804331rem; --position:55.29353887599322%; --time:2.821199007996276s; --delay:-3.8185029155865973s;"></div>
	    <div class="bubble" style="--size:3.9570908483074625rem; --distance:6.417318133996108rem; --position:22.36216043961393%; --time:3.629661550280087s; --delay:-2.981541293287788s;"></div>
	    <div class="bubble" style="--size:5.097834787281516rem; --distance:8.412897172482088rem; --position:44.443451202173684%; --time:2.3993098385455345s; --delay:-2.1238172797749466s;"></div>
	    <div class="bubble" style="--size:2.042206403728164rem; --distance:9.808220384317668rem; --position:12.83039009679327%; --time:2.0678984694765816s; --delay:-2.4785425928969684s;"></div>
	    <div class="bubble" style="--size:5.289193584483446rem; --distance:9.315816514113246rem; --position:72.79872861249164%; --time:2.9476387728547815s; --delay:-3.5480036832439263s;"></div>
	    <div class="bubble" style="--size:5.566593816820701rem; --distance:9.59944475484878rem; --position:32.07741454068219%; --time:2.9814366824309477s; --delay:-3.8964488147011513s;"></div>
	    <div class="bubble" style="--size:3.0183133148615893rem; --distance:8.994441531994479rem; --position:40.37815748646062%; --time:2.126978582233899s; --delay:-2.718027146721426s;"></div>
	    <div class="bubble" style="--size:5.322906790316699rem; --distance:8.848243342792802rem; --position:34.208462817965575%; --time:2.579233563803596s; --delay:-2.940425494002617s;"></div>
	    <div class="bubble" style="--size:2.3702388513659383rem; --distance:8.056774102706035rem; --position:85.32104255344997%; --time:2.9947576958424795s; --delay:-3.57025728151343s;"></div>
	    <div class="bubble" style="--size:4.374246657549383rem; --distance:8.379901780499285rem; --position:7.782600853659931%; --time:2.87755488393348s; --delay:-2.9954757863011565s;"></div>
	    <div class="bubble" style="--size:3.023597863930741rem; --distance:8.587763122199899rem; --position:-4.8608722568261875%; --time:3.962831108777502s; --delay:-3.0106011575260543s;"></div>
	    <div class="bubble" style="--size:5.502032567311187rem; --distance:8.497195241333166rem; --position:85.35684641012473%; --time:3.179162468252143s; --delay:-2.0453794611707976s;"></div>
	    <div class="bubble" style="--size:3.9894857042511225rem; --distance:6.427500430038514rem; --position:91.36767593533195%; --time:2.7733740194521563s; --delay:-3.3087060798138666s;"></div>
	    <div class="bubble" style="--size:3.856614447525395rem; --distance:9.678604234470296rem; --position:-1.7620329544271662%; --time:2.7277242408644087s; --delay:-2.814347314254227s;"></div>
	    <div class="bubble" style="--size:5.363229219144339rem; --distance:9.272102084781544rem; --position:42.00032783331387%; --time:2.3821009517528045s; --delay:-2.2873138127025063s;"></div>
	    <div class="bubble" style="--size:2.2800674545776465rem; --distance:6.135998363826561rem; --position:48.372534940805615%; --time:3.6816667651389943s; --delay:-3.492469091433437s;"></div>
	    <div class="bubble" style="--size:2.7973510535528536rem; --distance:7.222237471895456rem; --position:19.678605718132548%; --time:2.0850394942848753s; --delay:-3.0174559817765614s;"></div>
	    <div class="bubble" style="--size:3.3130869210050493rem; --distance:7.548759321077077rem; --position:6.640903819384507%; --time:2.4771898436487976s; --delay:-3.755317634603931s;"></div>
	    <div class="bubble" style="--size:3.58004365981971rem; --distance:8.856739616761853rem; --position:-2.632878771223388%; --time:3.052636912012702s; --delay:-3.6583042959594936s;"></div>
	    <div class="bubble" style="--size:2.204613864245948rem; --distance:9.081832461815068rem; --position:8.857355086006308%; --time:3.722059541786778s; --delay:-3.431902955385811s;"></div>
	    <div class="bubble" style="--size:2.8994409194324353rem; --distance:7.6835927467860925rem; --position:21.70775609258242%; --time:2.813855705507246s; --delay:-2.6427311937395315s;"></div>
	    <div class="bubble" style="--size:4.621108825618944rem; --distance:6.371171895909529rem; --position:89.55765204796303%; --time:3.032600477231772s; --delay:-3.418281776516205s;"></div>
	    <div class="bubble" style="--size:3.278286159805517rem; --distance:8.995580844485506rem; --position:18.049176272421686%; --time:3.569208207337546s; --delay:-3.9887902773308457s;"></div>
	    <div class="bubble" style="--size:4.213614336918877rem; --distance:9.290328326983897rem; --position:-2.367385829134696%; --time:2.8591169652178627s; --delay:-2.4539299773083565s;"></div>
	    <div class="bubble" style="--size:3.0601969141827112rem; --distance:6.723152800523019rem; --position:73.92525717893729%; --time:3.809492467419307s; --delay:-3.4125854717457376s;"></div>
	    <div class="bubble" style="--size:3.765396661463482rem; --distance:8.955260649253216rem; --position:70.00885871779091%; --time:3.910317636296323s; --delay:-3.408890230825096s;"></div>
	    <div class="bubble" style="--size:5.43821459420995rem; --distance:9.796972564164086rem; --position:97.84197838982209%; --time:2.9735015340166395s; --delay:-3.517024593315996s;"></div>
	    <div class="bubble" style="--size:5.8641535229434rem; --distance:8.099645471222967rem; --position:93.51471826725134%; --time:3.171860924785165s; --delay:-2.35695299230548s;"></div>
	    <div class="bubble" style="--size:3.1164250359649515rem; --distance:8.645555860507548rem; --position:8.176173371692164%; --time:3.163965973094887s; --delay:-2.3349007671078525s;"></div>
	    <div class="bubble" style="--size:3.0108094188878987rem; --distance:7.208172394410946rem; --position:63.84295400298956%; --time:2.3842467929183924s; --delay:-2.424721635196209s;"></div>
	    <div class="bubble" style="--size:2.333711657965619rem; --distance:7.728543903028607rem; --position:7.302747298347697%; --time:2.7897577500817685s; --delay:-3.6815911964852925s;"></div>
	    <div class="bubble" style="--size:5.476164542731866rem; --distance:9.541972122916967rem; --position:62.9427838263738%; --time:3.760031608836269s; --delay:-3.267436472163358s;"></div>
	    <div class="bubble" style="--size:4.8809099105646645rem; --distance:6.979466030287512rem; --position:79.81804479056545%; --time:2.5572697488769105s; --delay:-3.728120653900508s;"></div>
	    <div class="bubble" style="--size:3.8502616510773207rem; --distance:7.937285335076451rem; --position:29.289873661175513%; --time:2.6828726263246367s; --delay:-3.4693142517622744s;"></div>
	    <div class="bubble" style="--size:5.459582906358959rem; --distance:6.8271443053703535rem; --position:63.290722526007215%; --time:2.641214601763587s; --delay:-3.590412146818515s;"></div>
	    <div class="bubble" style="--size:3.801855047816697rem; --distance:6.076496951560126rem; --position:14.613479221045456%; --time:2.7417129200782644s; --delay:-2.539281418846223s;"></div>
	    <div class="bubble" style="--size:3.209823292876017rem; --distance:7.096407082405633rem; --position:101.57856280180526%; --time:2.266093876376934s; --delay:-3.5444038209158166s;"></div>
	    <div class="bubble" style="--size:3.9086030079535545rem; --distance:9.484478176632482rem; --position:13.20810694278654%; --time:2.289324954535413s; --delay:-2.4764554980972573s;"></div>
	    <div class="bubble" style="--size:2.627993667039477rem; --distance:7.9988826205694235rem; --position:49.34078430004269%; --time:2.5737179005133055s; --delay:-3.170787009194386s;"></div>
	    <div class="bubble" style="--size:2.747647262024267rem; --distance:6.887479072036588rem; --position:47.52517186450553%; --time:2.11681420729329s; --delay:-2.456019474719777s;"></div>
	    <div class="bubble" style="--size:3.8898765079119rem; --distance:8.794202775646756rem; --position:23.426415734017528%; --time:2.7876676508529625s; --delay:-2.489505313677759s;"></div>
	    <div class="bubble" style="--size:4.699948293517359rem; --distance:7.970677816281383rem; --position:22.64533912582096%; --time:2.445536381849873s; --delay:-3.332508999731916s;"></div>
	    <div class="bubble" style="--size:5.114367643090785rem; --distance:6.810332950220169rem; --position:-2.6866014055271914%; --time:2.143265520137508s; --delay:-2.094474340918026s;"></div>
	    <div class="bubble" style="--size:5.36329831370275rem; --distance:8.295018333403352rem; --position:36.38982609580558%; --time:2.817209387347058s; --delay:-2.3855395853180346s;"></div>
	    <div class="bubble" style="--size:5.789464315906712rem; --distance:9.767514323359949rem; --position:48.30626306807548%; --time:2.0265828505772143s; --delay:-2.3440242590193767s;"></div>
	    <div class="bubble" style="--size:5.1911367836032625rem; --distance:9.446327799259825rem; --position:-0.2956233831782402%; --time:2.6111997592735503s; --delay:-3.984542066974768s;"></div>
	    <div class="bubble" style="--size:4.162051786449526rem; --distance:9.045521599616176rem; --position:71.64281938222712%; --time:3.6785806775304426s; --delay:-3.844268926029796s;"></div>
	    <div class="bubble" style="--size:5.514305044205477rem; --distance:6.6930232655806385rem; --position:18.331947069940174%; --time:3.0981036635071972s; --delay:-2.7091643512528427s;"></div>
	    <div class="bubble" style="--size:3.06606463052779rem; --distance:8.953891105855313rem; --position:76.11979247053681%; --time:3.6839654057151088s; --delay:-3.203520522719818s;"></div>
	    <div class="bubble" style="--size:4.620988805303383rem; --distance:9.972485429720997rem; --position:50.69270644975589%; --time:2.9565863663477185s; --delay:-2.0038418728518312s;"></div>
	    <div class="bubble" style="--size:3.3220296773402147rem; --distance:9.706607211096717rem; --position:41.41646287413824%; --time:2.17830052220173s; --delay:-3.5167014114556974s;"></div>
	    <div class="bubble" style="--size:2.736357416981357rem; --distance:9.103044114272494rem; --position:-2.67350175865382%; --time:2.8435515538269147s; --delay:-2.79961634500992s;"></div>
	    <div class="bubble" style="--size:5.846157542487062rem; --distance:6.680782191331746rem; --position:35.24884045713637%; --time:3.8553096309791823s; --delay:-2.390067459304836s;"></div>
	    <div class="bubble" style="--size:4.539657827691273rem; --distance:9.082024258298155rem; --position:95.54697404999962%; --time:3.4373837940067222s; --delay:-3.630416524878198s;"></div>
	    <div class="bubble" style="--size:2.9322416128463544rem; --distance:6.932749183229859rem; --position:11.644386840994404%; --time:2.6386483429867265s; --delay:-2.1749103976184685s;"></div>
	    <div class="bubble" style="--size:5.221650857390404rem; --distance:7.112331210613404rem; --position:42.70260201395659%; --time:3.0996193037881272s; --delay:-3.1047032909796086s;"></div>
	    <div class="bubble" style="--size:4.414984992076947rem; --distance:6.326731210580596rem; --position:85.18637311979504%; --time:3.7913589777942645s; --delay:-2.69973860422471s;"></div>
	    <div class="bubble" style="--size:3.7877401387105314rem; --distance:7.978202025184715rem; --position:90.45078523029264%; --time:3.221594390359074s; --delay:-2.1313594157641145s;"></div>
	    <div class="bubble" style="--size:4.2902651394153rem; --distance:9.746720041219909rem; --position:62.66517118267747%; --time:2.7124569802621776s; --delay:-3.51301337022745s;"></div>
	    <div class="bubble" style="--size:4.709112748459611rem; --distance:9.06383164388221rem; --position:12.329805849647006%; --time:3.181486006344145s; --delay:-2.9368414362109325s;"></div>
	    <div class="bubble" style="--size:2.553264505639918rem; --distance:6.133782558238035rem; --position:92.40815240269689%; --time:3.3923652991819426s; --delay:-2.1977716180107882s;"></div>
	    <div class="bubble" style="--size:4.898963009715649rem; --distance:8.648992078970391rem; --position:42.50598006011569%; --time:3.434402809117352s; --delay:-2.91011325774633s;"></div>
	    <div class="bubble" style="--size:2.9765925358809016rem; --distance:7.030072709679921rem; --position:30.54783102219948%; --time:2.5548122714477777s; --delay:-2.882234190895601s;"></div>
	  </div>
	  <div class="content">
	    <div>
	      <div><b><i class="fa fa-file"></i></b><%= link_to t('views.shortener.new.copyright.source'), github_url, :target => '_blank' %></div>
	      <div><b><i class="fa fa-envelope"></i></b><%= link_to t('views.shortener.new.copyright.contact'), contact_url %></div>
	    </div>
	    <div>
	    	<i class="zmdi zmdi-star-half" style="color: #fff;font-size: 40px;letter-spacing: -3px;">Shortly</i>
	      <p>Copyright &copy; All rights reserved</p>
	    </div>
	  </div>
	</div>
</div>
<svg style="position: fixed; top: 100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
      <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
    </filter>
  </defs>
</svg>

<!--================ End footer Area  =================-->

<div id="dropDownSelect1"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
<script src="vendor/countdowntime/countdowntime.js"></script>
