<h1>
  <%= t('views.error.internal_server_error.title') %>
  <span>
    <%= t('views.error.internal_server_error.subtitle') %>
  </span>
</h1>
<button>
  <%= link_to t('views.error.home'), root_url %>
</button>