<h1>
  <%= t('views.error.not_found.title') %>
  <span>
    <%= t('views.error.not_found.subtitle') %>
  </span>
</h1>
<button>
  <%= link_to t('views.error.home'), root_url, :class => 'home-button' %>
</button>